body {
    line-height: 1.7;
    color: #666666;
    font-size: 15px;
    font-family: 'Lora', serif;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}
h1, h2, .h1, .h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    line-height: 1.42857143;
    color: #333333;
}
body ul, ol {
    list-style: none;
    margin: 0;
    margin-bottom:0; 
    padding: 10;
}
/*...color..*/
.bg-color-sky {
    background-color: #00BCD4;
}
.bg-lightest {
    background-color: #fcfcfc;
}
.text-color-sky {
    color: #00BCD4;
}
.text-color-blue {
    color: #5D2999;
}
.bg-color-red {
    background-color: #FF5252;
}
.text-color-red {
    color: #FF5252;
}
.bg-color-lemon {
    background-color: #96D81F;
}
.bg-color-green {
    background-color: #31C3B0;
}
.bg-color-blue {
    background-color: #5D2999;
}
.bg-color-yellow {
    background-color: #FEC02A;
}
.border-bottom-color-sky-2px {
    border-bottom: 2px solid #00BCD4;
}
.bg-white {
    background-color: #fff;
}
.text-white {
    color: #fff;
}
/*...color..*/

/*...space..*/
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-0 {
    margin-top: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-0{
 margin-bottom: 0;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.border-1px {
    border: 1px solid #eeeeee;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-right-15 {
    padding-right: 15px;
}
.border-radius-15px {
    border-radius: 15px;
}
.ourSchool .font-36 {
    font-size: 3.4rem;
}
.ourSchool .font-42 {
    font-size:45px;
}
.ourSchool .font-weight-600 {
    font-weight: 600;
}
/*...space..*/


.header{
    display: block;
}

.logo {
    margin: 18px 30px 0 0;
    cursor: pointer;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

section > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-title {
    margin-bottom: 30px;
    position: relative;
}

.course-details h3{
    padding: 0;
    margin: 0;
}
.menuList {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.menuList > li {
    padding: 12px 0;
}
.menuList > li {
    display: inline-block;
    float: left;
}
.menuList > li.active a {
    background: #00BCD4;
    color: #fff;
    border-radius: 30px;
}
.menuList > li > a {
    font-size: 13px;
    font-weight: 600;
}
.menuList > li > a {
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    outline: 0;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.animation img{
    width: 100%;
}
.section-bg{
    background: url('../images/bg.jpg') repeat;
}
.admission-open{
    color: #fff;
    padding: 18px;   
    float: left;
    font-size: 18px;
}
.admission-open:hover{
    color:#fff;
    text-decoration: none;
}

.requestForm{
    color: #fff;
    font-size: 24px;
    display: block;
    padding-bottom: 10px;
}


